@CHARSET "ISO-8859-1";

/*************Cabeçalho Meio Rodapé*************/
#header, #footer {
	background-color: #0085B2;
	color: #FFFFFF;
	height: 68px;
	padding: 10px;
}

.logo {
	font-size: 30px;
}

#corpo {
	background-color: #ECECFB;
}

#footer {
	text-align: center;
}

#form-imagem {
	text-align: center;
}

/*************Paineis*************/

.panel-geral {
	width: 100%;
	text-align: center;
}

.panel-geral input {
	width: 98%;
	margin: 5px;
}

.t {
	font-size: 25px;
	color: #A7A7B7;
}

.valida {
	color: red;
	font-weight: bold;
}

.panel-geral img {
	margin: 5px;
}

.panel-interno .btn01 {
	background-image: none;
	background: #6DD900;
	color: #FFF;
	font-weight: bold;
}

.panel-interno .lbl {
	float: right;
}

.panel-foto {
	margin-top: 20px;
	width: 200px;
	height: 200px;
	background-color: #A7A7B7; 
}

/*************Login*************/

.login {
	margin: 200px 0px 200px 0px;
	text-align: center;
}

.cadastro {
	margin: 130px 0px 150px 0px;
	text-align: center;
}

.panel-interno {
	width: 100%;
	background-color: #F9F9F9;
	padding: 10px;
	min-height: 500px;
	margin: 5px 0 5px 0;
}

.botao {
	margin-top: 20px;
	float: right;
}

.botao .btn02 {
	background-image: none;
	background: #FF5C26;
	color: #FFF;
	font-weight: bold;
	text-shadow: none;
	margin-right: 10px;
}

.botao .btn03 {
	background-image: none;
	background: #6DD900;
	color: #FFF;
	font-weight: bold;
	text-shadow: none;
	margin-right: 10px;
}

/*************Menu*************/

.menu .ui-menu.ui-menubar {
	background-color: transparent;
	background-image: none;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: none !important;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
}

.menu .ui-menu.ui-widget a {
	color: #FFF;
}

#not {
	width: 30px;
	height: 30px;
	background: #FFBF00;
	margin: 10px 10px 0px 10px;
	border-radius: 100%; 
}

#perfil {
	width: 50px;
	height: 50px;
	background: #FFF;
	margin: 0px;
	border-radius: 100%;
	cursor: pointer;
}

#log {
	width: 50px;
	height: 50px;
	background: #ECECFB;
	margin: 0px;
	border-radius: 100%;
	padding: 13px 0 0 5px;
	cursor: pointer;
}

/*************Home*************/
.conteudo .panel-home {
	color: red;
}

/*************Porcentagem*************/
.pr10 { width: 10%; }
.pr20 { width: 20%; }
.pr30 { width: 30%; }
.pr40 { width: 40%; }
.pr50 { width: 50%; }
.pr60 { width: 60%; }
.pr70 { width: 70%; }
.pr80 { width: 80%; }
.pr90 { width: 90%; }
.pr100 { width: 100%; }

/**********************************************************************/
.ui-accordion-content.ui-widget-content {
	background-image: none;
	height: 205px;;
}

.ui-panel.ui-widget.ui-widget-content {
	background: red;
}

.ui-selectmanycheckbox.ui-widget {
	margin: 20px 0 20px 0;
}

.ui-selectmanycheckbox.ui-widget label {
	margin: 0 10px 0 10px;
}